.Portfolio{
    text-align: center;
    margin: 45px auto;
}
.Portfolio h1 {
    font-weight: 300;
}

.PortfolioDes{
    margin: 25px auto;
    /* max-width: 60%; */
    font-size: larger;
}

.PortfolioBtn{
    margin: 5px auto;

}


/* xs: 0,
sm: 576px,
md: 768px,
lg: 992px,
xl: 1200px,
xxl: 1400px */


/* On screens that are 768px or less, set the following */
@media screen and (max-width: 768px) {
    .Portfolio {
        margin: -20px auto 45px;
    }
  }
  