.TeamCard .card {
    border: 0 !important;
    text-align: center;
}
.TeamCard img{
    /* width: 150px;
    height: 150px;
    border-radius: 50%; */
    margin: auto;
}

.TeamCard p{
    /* width: 80%; */
    margin: auto;
}