.gridContainer{
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(25%,4fr) );
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    text-align: center;
    margin-top: 50px;
    margin-bottom: 50px;
    box-shadow: 0px 4px 10px 2px rgb(74 74 74 / 30%);

}

/* On screens that are 720px or less, set the following */
@media screen and (max-width: 768px) {
    .gridContainer{
        grid-template-columns: repeat(auto-fill,minmax(50%,2fr) );
    }
}

/* On screens that are 375px or less, set the following */
@media screen and (max-width: 540px) {
    .gridContainer{
        grid-template-columns: repeat(auto-fill,minmax(100%,1fr) );
    }
}